@media (min-width: 1024px) {
    .postList {
        padding: 20px;
    }
    
    .post {
        height: 170px;
        background-color: #3d3d3d;
        border-radius: 10px;
    
        padding: 10px;
        margin-bottom: 20px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    
        &:hover {
            filter: brightness(1.1);
            cursor: pointer;
        }
    }
    
    .postTitle {
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
    
        color: #ffd900;
    
        margin-bottom: 10px;
    }
    
    .postContent {
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: #fbfbfb;
    }
}

@media (min-width: 360px) and (max-width: 600px) {
    .title {
        font-size: 16px;
        text-transform: uppercase;
        margin-left: 20px;
    }

    .postList {
        padding: 20px 30px;
    }
    
    .post {
        height: 170px;
        background-color: #3d3d3d;
        border-radius: 10px;
    
        padding: 20px;
        margin-bottom: 20px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        &:hover {
            filter: brightness(1.1);
            cursor: pointer;
        }
    }
    
    .postTitle {
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
    
        color: #ffd900;
    
        margin-bottom: 10px;
    }
    
    .postContent {
        font-size: 10px;
        line-height: 14px;
        text-transform: uppercase;
        color: #fbfbfb;
    }
}